<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="images/lang-logo.png">
    </a>
    <h1>Meda Summer Camp 2018</h1>
    <p>This is the intro text for this event, where you can sign up and begin to make the most of your event.</p>
    <p>By registering, we'll make sure you're kept up to date with all this event's activities and news.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://experiencemeda.com"><span class="glyphicon glyphicon-flash"></span> Discover more about Meda people and Performance.</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://experiencemeda.com"><span class="glyphicon glyphicon-download"></span> By registering, we'll make sure you're kept up to date with all this event's activities and news.</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev" class="alert-link">Getting Started on Heroku with Heroku Connect</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this tutorial works</h3>
      <ul>
        <li>This app was deployed to Heroku by clicking the <a href="https://github.com/heroku/no-local-dev-getting-started">Heroku Button</a> in the <a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">tutorial</a>.</li>
        <li>Heroku Button transfers the source code for the application, transfers any app dependencies, builds and deploys the app on Heroku, and provisions a web domain for it too.</li>
        <li>The app will also provision a Heroku Postgres database, and a Heroku Connect add-on, one of over <a href="https://elements.heroku.com/addons">150 add-on services</a>.</li>
        <li>Heroku Connect provides seamless data synchronisation between a Heroku Postgres database and a Salesforce Org.  Clicking the "Connect with your Salesforce Org" configures Heroku Connect to perform this sync. </li>
      <li>Check out the <a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started</a> guide to learn more!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
        <li><a href="https://devcenter.heroku.com/articles/herokuconnect">Heroku Connect</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Meda Summer Camp 2018.
  </div>
</div>
