<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="images/lang-logo.png">
    </a>
    <h1>Meda Summer Camp 2018</h1>
    <p>This is the intro text for this event, where you can sign up and begin to make the most of your event.</p>
    <p>By registering, we'll make sure you're kept up to date with all this event's activities and news.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://experiencemeda.com"><span class="glyphicon glyphicon-download"></span> By registering, we'll make sure you're kept up to date with all this event's activities and news.</a>
  </div>
</div>
   <div class="alert alert-info text-center" role="alert">
    Meda Summer Camp 2018.
  </div>
</div>
